/* ######################################SITE WIDE########################################### */

/* overrides accessibility features */
input:focus, textarea:focus, select:focus{
  outline: none;
}

/* sets font for whole website */
* {
  font-family: 'Spartan';
}

.nav-link {
  color: black;
  }

/* ######################################NAV BAR########################################### */

/* nav bar styling */
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(211, 211, 213);
  }

.navbar{
  color: black;
  padding: 1.5rem 2.5rem; 
}
  
  /* size for nav bar */
body {
  font-size: 1.6rem;
  }
  
/* ######################################HOME PAGE########################################### */

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.login-page .home-form {
  margin-bottom: 220px;
  margin-right: 100px;
}

.home-form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  text-align: center;
}

.table .feed {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.home-form input {
  outline: 1;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 6px;
  font-size: 16px;
}

.home-form button {
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.home-form button:hover, .form button:active {
  background: rgb(220, 220, 240);
  color: black;
}

.register-submit{
  background: white;
  color: black;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.home-form .message {
  margin: 15px 0 0;
  color: white;
  font-size: 12px;
}

.home-form .message a {
  color: rgb(58, 87, 162);
  text-decoration: none;
}

#register-form {
  display: none;
}

/* ######################################UPLOAD PAGE########################################### */

/* .search-bar{

} */

input#searchBar {
  width: 50%;
  font-size: 1.3rem;
}

input {
  width: 100%;
  /* padding: 8px 25px; */
  margin: 4px 0;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 8px 25px;
  margin: 6px 0;
}

#submit-btn {
  background-color: white;
  font-size: 1.2rem;
  width: 103%;
  margin-left: -14px;
  margin-top:10px;
  }

#submit-btn:hover{
  background-color: rgb(58, 87, 162);
  color: white;
}

#autocomplete{
  font-size: 1.2rem;
}
  
#image-form{
  font-size: 1.2rem;
}

.form-group-row{
  font-size: 1.2rem;
}

.image-form {
display: none;
width: 43.9%;
margin: 20px auto;
}
  
#image-uploader input[type="file"] {
padding:0;
margin-left: 0px;
color:black;
font-size: 1.2rem;
} 

.image-btn {
margin-left: -14px;
margin-top:-5px;
color: black;
font-size: 1.2rem;
}

.add-image {
  margin: 12px;
  width: 100%;
  color: black;
  font-size: 1.2rem;
  }

.image-input {
  font-size: 1.2rem;
}
      
.imagetitle-btn{
  border-radius: 25px;
  font-size: 1.2rem;
  }
        
#list {
  list-style: none;
  padding-left: 0;
  margin-left: -26px;
  color: black;
  font-size: 1.2rem;
  }

  input {
    width: 100%;
    /* padding: 8px 25px; */
    margin: 4px 0;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 8px 25px;
    margin: 6px 0;
    
  }

  .upload-art {
    width: 43.9%;
    margin: 20px auto;
    }

    #submit-btn {
      background-color: white;
      font-size: 1.2rem;
      width: 105%;
      margin-left: -14px;
      margin-top:10px;
      }