{% extends 'base.html' %}

{% block body %}

<form>
  <div class="form-group">
    <div id="card-top" class="row justify-content-center">
      <input type="text" class="form-control search-bar" name="searchBar" id="searchBar" placeholder="Search" />
    </div>
  </div>
</form>

<div class="row">
  {% if images %}
  {% for i in images %}
  <div class="column">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ i['image_url'] }}" alt="Image goes here" style="width:450px;height:450px;">
        </div>
        <div class="flip-card-back">
          <div id="card-contents">
            <h1>{{ i['image_title'] }}</h1>
            <p>{{ i['artist'] }}</p>
            <a href="http://maps.google.com/?q={{ i['location'] }}" class="btn btn-light">Location</a>
            <a href="{{ i['image_url'] }}" class="btn btn-light">View Image</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}

<div class="d-flex justify-content-center" style="width: 100%">
  <p>There are no images in the gallery! Get on it :)</p>
</div>
{% endif %}


<script>
  // #######################SEARCH FEATURE####################################

  const searchBar = document.getElementById('searchBar');
  const text = document.getElementsByClassName("flip-card");

  function searchCards(queryString) {
    // console.log(Object.values(text).filter((t) => !t.outerText.toLowerCase().includes(queryString)))
    // console.log(Object.values(text).map((t) => console.log(t.outerText.toLowerCase())))
    return Object.values(text).filter((t) => !t.innerText.toLowerCase().includes(queryString))
  }

  searchBar.addEventListener('keyup', (evt) => {
    const searchString = evt.target.value;
    let searchResults = searchCards(searchString.toLowerCase())
    for (let i = 0; i < text.length; i++) {
      searchResults.includes(text[i]) ? text[i].style.display = "none" : text[i].style.display = "block"
    }
  });
</script>


{% endblock %}