<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    
<h4 id="response"></h4> 
<div id="display-message"></div>

<div class="login-page">
    <div class="home-form">

        <form class="register-form" id="register-form">
            <input type="text" id="first_name" placeholder="First Name"/>
            <input type="text" id="last_name" placeholder="Last Name"/>
            <input type="text" id="email" placeholder="Email"/>
            <input type="text" id="password" placeholder="Password"/>
            <input class="register-submit" id="register-btn" type="submit"/>
            <p class="message"> Already Registered? <a href="#"> Login </a> </p>
        </form>

        <form class="login-form" id="login-form" action="/login" method="POST">
            <input type="text" id="login_email" placeholder="Email" name="email"/>
            <input type="password" id="login_password" placeholder="Password" name="password"/>
            <button class="login-button">Login</button>
            <p class="message"> Not registered? <a href='#'> Register </a></p>
        </form>
    </div>
</div>

<style>
html {
    min-height: 100%;
    background-image: url('https://res.cloudinary.com/jenbrissman/image/upload/v1620002732/s997fyc2hnsioxotxwe1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }
</style>

<link href="static/css/design.css" link rel="stylesheet" type="text/css">
<script src="static/js/display.js"></script>

</body>
</html>