{% extends 'base.html' %}

{% block body %}

<form class="upload-art" id="upload-art" enctype="multipart/form-data">
  
  <div class="row">
    <input type="text" id="image_title" name="title" placeholder="Title"/>
  </div>

  <div class="row">
    <input type="text" id="artist" name="artist" placeholder="Artist"/>
  </div>

  <div class="form-group row">
    <input class="form-control" type="text" id="autocomplete"  name="autocomplete" placeholder="Location" onFocus="geolocate()">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcP6fsj7ftfBIOCURqi2KOSc9kKM51Crs&libraries=places&callback=initAutocomplete" async defer></script>
  </div>

  <div class="row">
  <input type="file" id="image_url" name="Upload Image">
  </div>

  <button id="submit-btn" class="btn btn-light btn-block submit-btn" type="submit" value="SUBMIT" name="submit">SUBMIT</button>

  </form>

  {% endblock %}